.header
  .header__user
    = current_user.name
    = link_to edit_user_path(current_user) do
      = icon('fas', 'cog', class: 'icon')
  .header__logout
    = link_to "Logout", destroy_user_session_path, method: :delete

.main

  .post
    .post__box
      %input.post__box-form
        %label.post__box-form-img
          = icon('far', 'image')
          %input.hidden{type: 'file'}
      -# = f.text_field :content, class: "post__box-form", placeholder: "type a messasge"    
      -# = f.label :image, class: "post__box-form-img" do
      -#   = icon('far', 'image')
      -#   = f.file_field :image, class: "hidden"
      %input.post__box-send{type: 'submit', value: 'Send'}
  .chat
    .chat__box
      .chat__info
        .chat__info-name
          name
        .chat__info-date
          date
      .chat__content
        .chat__content-body
          text&image
        .chat__content-option
          .chat__option-like
            = icon('fas', 'feather')
          .chat__option-comment
            = icon('far', 'comment-dots')
    .chat__box  
      .chat__info
        .chat__info-name
          name
        .chat__info-date
          date
      .chat__content
        .chat__content-body
          text&image
        .chat__content-option
          .chat__option-like
            = icon('fas', 'feather')
          .chat__option-comment
            = icon('far', 'comment-dots')


  